In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (6, 4)
plt.rcParams['font.size'] = 14
import pgeocode
plt.style.use('ggplot')
sns.set(font_scale=1.5)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline
import scipy.stats as stats
from pandas.api.types import CategoricalDtype


from pygeocoder import Geocoder
from pandas.api.types import CategoricalDtype

from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import KFold

from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from googletrans import Translator

from sklearn.preprocessing import StandardScaler

In [2]:
CHICAGO_q1_PATH = "/Users/vilvaki/Desktop/GA/bikes/divvy-bike-chicago-2018/Divvy_Trips_2018_Q1.csv"
CHICAGO_q2_PATH = "/Users/vilvaki/Desktop/GA/bikes/divvy-bike-chicago-2018/Divvy_Trips_2018_Q2.csv"
CHICAGO_q3_PATH = "/Users/vilvaki/Desktop/GA/bikes/divvy-bike-chicago-2018/Divvy_Trips_2018_Q3.csv"
CHICAGO_q4_PATH = "/Users/vilvaki/Desktop/GA/bikes/divvy-bike-chicago-2018/Divvy_Trips_2018_Q4.csv"

In [3]:
chicago_q1 = pd.read_csv(CHICAGO_q1_PATH)
chicago_q2 = pd.read_csv(CHICAGO_q2_PATH)
chicago_q3 = pd.read_csv(CHICAGO_q3_PATH)
chicago_q4 = pd.read_csv(CHICAGO_q4_PATH)

In [4]:
chicago_q1.shape[0]+chicago_q2.shape[0]+chicago_q3.shape[0]+chicago_q4.shape[0]

3603082

In [5]:
frames = [chicago_q1,chicago_q2,chicago_q3,chicago_q4]

chicago_all_trips_df = pd.concat(frames)

In [6]:
chicago_all_trips_df.isnull().sum()

trip_id                   0
start_time                0
end_time                  0
bikeid                    0
tripduration              0
from_station_id           0
from_station_name         0
to_station_id             0
to_station_name           0
usertype                  0
gender               562505
birthyear            555209
dtype: int64

In [7]:
chicago_all_trips_df.drop(columns=['gender', 'birthyear'], inplace=True)

In [8]:
chicago_all_trips_df.isnull().sum()

trip_id              0
start_time           0
end_time             0
bikeid               0
tripduration         0
from_station_id      0
from_station_name    0
to_station_id        0
to_station_name      0
usertype             0
dtype: int64

In [9]:
chicago_all_trips_df.tripduration = [float(x.replace(',','')) for x in chicago_all_trips_df.tripduration]
chicago_all_trips_df['start_time'] = pd.to_datetime(chicago_all_trips_df.start_time)
chicago_all_trips_df['end_time'] = pd.to_datetime(chicago_all_trips_df.end_time)

In [10]:
chicago_all_trips_df['Day'] = chicago_all_trips_df.start_time.dt.weekday_name

In [11]:
days_of_the_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

chicago_all_trips_df['Day'] = chicago_all_trips_df['Day'].astype(CategoricalDtype(categories=days_of_the_week, ordered=True))

In [12]:
chicago_all_trips_df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,Day
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:23,3304,323.0,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Monday
1,17536703,2018-01-01 00:41:35,2018-01-01 00:47:52,5367,377.0,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Monday
2,17536704,2018-01-01 00:44:46,2018-01-01 01:33:10,4599,2904.0,98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Monday
3,17536705,2018-01-01 00:53:10,2018-01-01 01:05:37,2302,747.0,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Monday
4,17536706,2018-01-01 00:53:37,2018-01-01 00:56:40,3696,183.0,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Monday

In [13]:
chicago_all_trips_df.dtypes

trip_id                       int64
start_time           datetime64[ns]
end_time             datetime64[ns]
bikeid                        int64
tripduration                float64
from_station_id               int64
from_station_name            object
to_station_id                 int64
to_station_name              object
usertype                     object
Day                        category
dtype: object